html{
	height: 3000px;
	background-color: #CFCFCF;
}

#container{
	width: 800px;
	height: 500px;
	margin: 50px;
	padding: 50px;
	background-color: #DFDFDF;
}


.circle{
	border-radius: 100%;
	background-color: red;
}

