@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body{
margin: 0;
padding: 0;
font-family: 'Montserrat';
 background-color: rgba(21, 18, 15, 100%);
  scroll-behavior: smooth;
}


	#body-wrapper{
		overflow:hidden;
		width:100%;
		position:relative;
		background-color:#FFFFFF;
	}

	#B-Master-Permanent-Makeup{
		background:linear-gradient(
		
		#000000 15.15%,
		#FFFFFF 22.52%,
		rgba(0, 0, 0, 0) 44.32%,
		#FFFFFF 66.63%,
		#FFFFFF 82.42%,
		#000000 100%,
		);
		background: radial-gradient(63.16% 110.39% at 25.49% 50.07%, #3D2E20 0%, #14110E 65.59%);
		/* background-image:url(https://img1.akspic.ru/attachments/crops/8/6/6/2668/2668-voda-priroda-nebo-vodnye_resursy-reka-2560x1440.jpg);
		*/
		 
		background-position: center;
		background-repeat: no-repeat;
		background-clip: border-box;
		background-size: cover;
		background-attachment: scroll;
      		width: 100%;
		overflow:hidden;
		position:relative;
			z-index:100;
	}
	
	#B-Size-Contents{
		overflow:hidden;
		width:100%;	
		position:relative;
	}
	
	#B-Navigation{
		height:10vh;
	}
	#Panel-Nav{
		margin:0 auto;
		max-width:200vh;
	}
	#B-A{
		float:left;
		width:63%;
		text-align:right;
	}
	a{
		text-decoration:none;
		-webkit-tap-highlight-color: transparent;
	}
	.nav a{
		font-weight:200;
		font-style: normal;
		font-size: 2.3vh;
		line-height: 2.5vh;  /* 4.65 */
		color:white;
		margin:5.6vh 3.2vh 0 3.2vh;
		float:right;
	}
	#human{
		margin-top:4.6vh;
		float:right;
		width:4vh;
		position:relative;
	}
	#circle{
		width:1.6vh;
		height:1.6vh;
		border-radius:100%;
		
		border:0.4vh solid #14110E;
		margin:0 auto;
		z-index:1;
		position:relative;
	}
	#human-head{
		height:100%;
		width:93%;
		border-radius:100%;
		background-color:#D9D9D9;
		margin:0 auto;
	}

	#human-body{
		margin:-0.3vh auto 0 auto;
		width:2.8vh;
		height:1.75vh;
		background-color:#D9D9D9;
		border-radius: 30% 30% 0 0 / 60% 60% 0 0;
		position:relative;
	}
	.a-PC a{
		margin:0;
		font-size: 2.3vh;
		line-height: 2.5vh; 
		font-weight:600;

	}
	#Personal-Cabinet{
		
		float:right; 
		width:26vh;
		margin-right:8vh;
		margin-top:5.6vh;
		text-align:right;
	}
	

	
	#Right-B{
		float:right;
		width:50%;
		position:relative;
	}

	#BT-Master-Permanent-Makeup{
		width: 82vh;
		margin-top: 7vh;
		overflow:hidden;
	}
	.T-Master-Permanent-Makeup{
		margin-left:1.9vh;
		font-style: normal;
		font-weight: 800;
		font-size: 7.2vh;
		line-height: 8vh;
		letter-spacing: 0.01em;
		color:white;
	}
	
	.Enroll{
		margin-left:1.9vh;
		width: 47vh;
		height: 10vh;
		margin-top:5.5vh;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 2.7vh;
		line-height:3vh;
		text-align: center;
		color: #FFFFFF;
		background: radial-gradient(43.99% 171.7% at 49.91% 49.78%, #FFBA91 0%, #D99369 73.72%);
		box-shadow: 0px 0.3vh 0px #A57253, 0px 0.3vh  6vh rgba(252, 180, 136, 0.55);
		transform: matrix(1, 0, 0, 1, 0, 0);
		-webkit-tap-highlight-color: transparent;
		border-radius: 10% 10% 10% 10% / 15vh 15vh 15vh 15vh;  /*  горизонтальные / вертикальные  */
		border:0;
		position:relative;
	}
	.Border-Button{
		
	}
	
	#BT2{
		margin-left:1.9vh;
		width: 50vh;
		margin-top:6vh;
		font-style: italic;
		font-weight: 300;
		font-size: 2.7vh;
		line-height: 3vh;
		letter-spacing: 0.005em;
		color: #FFFFFF;
	}
	
	#Left-B{
		width:50%;
		height:90vh;
		text-align:right;
	}
	
	#IMG-Master{
		height:100%;
		width:100%;
	}
	.master-png{
		height:96%;
		min-height: 10%;
		min-width:10%;
		margin-right:9.5vh;
		margin-top:4.2vh;
		position:relative;
		z-index:1;
		
	}
	#BR1{
		position:relative;
		z-index:0;
		width: 53.5vh;
		height: 53.5vh;
		float:right;
		margin-top:-80vh;
		margin-right:12.5vh;
		border: 2vh solid rgba(255, 255, 255, 0.98);
		filter: blur(8.5vh);
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
	}
	
	
	/*  // B2 // B-Profession //  */
	
	/*.VV{
		width:100%;
		height:20vh;
		background-color:red;
	}
	*/
	
	#B-Profession{
		width:100%;
	}
	
	@font-face {
		font-family: 'Bebas Neue'; 
		src: url('fonts/BebasNeueBold.woff2') format('woff2'), url('fonts/BebasNeueBold.woff') format('woff');
		font-weight: 700;
		font-style: normal;	
	}
	#B-About-Profession{
		width:50%;
		height:12vh;
		overflow:hidden;
		z-index:10;
		position:relative;
		margin-top:3vh;
	}
	.T-About-Profession{	
		font-family: 'Bebas Neue';
		font-size: 11vh;
		line-height: 16vh;
		color: #3E3833;
		height:20vh;
		width:74vh;
		float:right;
	}
	#BT-Opportunities{
		position:relative;
		overflow:visible;
		min-height:100vh;
		z-index:10;
		width:50%;
	}
	@font-face {
		font-family: 'jikharev'; 
		src: url('fonts/jikharev.woff2') format('woff2'), url('fonts/jikharev.woff') format('woff');
		font-style: normal;	
	}
	#B-size2{
		margin-top:3vh;
		width:100%;
		height:10vh;
	}
	.This-Opportunity{
		float:right;
		width:80vh;
		margin-right:-8vh;
		height:10vh;
		
		font-family: 'jikharev';
		font-size: 9vh;
		line-height: 12vh;
		letter-spacing: 0.03em;
	
		background: linear-gradient(179.76deg, #FF6550 50%, rgba(255, 196, 188, 0.58) 110%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;

	}

	#Opportunities{
		margin-top:4vh;
		margin-left:1.4vh;
		float:right;
		width:80vh;
		margin-right:-13vh;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 3.5vh;
		line-height: 5vh;
		letter-spacing: 0.03em;
		color: #3E3E3E;
		overflow:visible;
	}
	.t1{
		
	}
	.t2, .t3, .t4, .t5, .t6{
		margin-top:3vh;
	}
	.color2{  /* Block Opportunities */
		color: #786759;
		font-weight: 700;
	}
	
	
	#B-Points{
		margin-top:4vh;
		width:2.1vh;
		height:65vh;
		float:right;
	}
	.p1, .p2, .p3, .p4, .p5, .p6{
		background: #FFFFFF;
		border: 0.6vh solid #786759;
		box-shadow: 0px 0px 1.8vh #786759;
		border-radius:100%;
		width: 1vh;
		height: 1vh;
		position:absolute;
		z-index:1;
	}
	.p1{
		margin-top:1.5vh;
	}
	.p2{
		margin-top:9.3vh;
	}
	.p3{
		margin-top:22.3vh;
	}
	.p4{
		margin-top:35.4vh;
	}
	.p5{
		margin-top:43.4vh;
	}
	.p6{
		margin-top:56.3vh;
	}
	
	.Rectangle{
		background: #D9D9D9;
		width:0.5vh;
		height:55vh;
		position:relative;
		z-index:0;
		margin:2vh auto 0 auto;
	}
	

	#B-IMG-B-P{
		float:right;
		text-align:right;
		position:relative;
		margin-top:-132vh;
		width:100vw;
		height:100%;		
	}
	.IMG-B-P{
		height:135vh;
		width:60vw;
		object-fit:cover;
	}
	#B-Blur2-1{
		height:200vh;
		width:55vw;
		background: white;
		filter: blur(12vh);
		margin-top:-150vh;
		position:relative;
		z-index:0;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
	}
	#B-Blur2-2{
		position:relative;
		z-index:0;
		height:90vh;
		background: white;
		width:12.5vw;	
		margin-left:30vw;
		margin-top:-130vh;
		filter: blur(15vh);
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
	}
	#Block3{
		height:100vh;
		width:100%;
		background-color:#15120F;
		z-index:10;
		position:relative;
	}
	
	.mobile{
		display:none;
	}
	.menu{
		display:none;
	}


@media   (max-aspect-ratio: 3/2), (orientation: portrait){
	#B-Navigation{display:none;}
	.skip {
		display: none;
	}
	.pk{display:none;}
	.mobile{display:block;}
	
	.burger-btn{
		z-index:999;
		position:fixed;
		width:9vw;
		height: 3.75vw;
		right:0;
		margin: 4vh 6vw 0 0;
	}
	
	.burger-btn span{
		display:block;
		border-radius: 2vw;
		height:0.85vw;
		width:9vw;
		background-color:white;
		float:right;
		transition: opacity .5s, transform .5s; 
	}

	/* обычный бургер*/
	.burger-btn span:nth-child(1){
	}
	.burger-btn span:nth-child(2){
		margin-top:0.6vw;
		width:5.45vw;
		float:left;		
	}
	.burger-btn span:nth-child(3){
		margin-top:0.6vw;
	}
	.menu{
		width: 50vw;
		min-height:100vh;
		right:-50vw;
		top:0;
		background-color:#1E1E1E;
		position:fixed;
		z-index:199;
		display:block;
		transition: transform 0.5s;
	}
	.darken{
			width:100%;
			height:100vh;
			opacity:0;
			position:fixed;
			will-change: opacity;
			transition: opacity 0.5s;
			z-index:-100;
		}
	
	
	/* крестик при menu open */
		
		.Side-panel.open .burger-btn {
			
			height:10vw;
		}
		
		.Side-panel.open .burger-btn span:nth-child(1){
			transform: translateY(1.45vw) rotate(45deg);
		
		}
		.Side-panel.open .burger-btn span:nth-child(2){
			opacity: 0;
			
		}
		.Side-panel.open .burger-btn span:nth-child(3){
			transform: translateY(-1.5vw) rotate(-45deg);
		}
		
		.Side-panel.open .menu{
			transform: translateX(-100%);
		}
		
		.Side-panel.open .darken{
			opacity:0.5;
			background-color:#111;
			z-index:99;
		}
		
	/* end крестик */
	
	.a-PC{
		float:left;
		margin-left:2vw;
	}
	#human{
		margin-top:3.5vh;
		float:right;
		width:6vw;
	}
	#circle{
		width:2.46vw;
		height:2.46vw;
		border:0.62vw solid #1E1E1E;
	}

	#human-body{
		margin:-0.62vw auto 0 auto;
		width:4.31vw;
		height:2.7vw;
	}
	
	
	
	#B-A{
		float:left;
		margin-top:calc(2vw + 1vh);
		height:50vh;
		text-align:left;
		width:100%;
	}
	
	.nav a{
		float:left;
		color:#FFFFFF;
		font-size:4vw;
		margin-top:6vw;
		line-height:0;
		font-weight:400;
		width:100%;
		margin-left:2vw;
	}
	
	a{
		line-height:0;
	}
	
	#B-border-menu{
		width:100%;
		height:0.5vw;
		margin-top:calc(8vw + 4vh);
		background-color:#C7704B;
	}
	
	
	
	
	
	
	
	#B-Master-Permanent-Makeup{
		min-height:100vh;
	}
	#B-Size-Contents{
		width:100%;
	}
	
	#BT-Master-Permanent-Makeup{
		margin: 11.4vh auto 0 auto;
		width:100%;	
	}
	.T-Master-Permanent-Makeup{
		text-align:center;
		margin:0 auto;
		width:85%;	
		font-size:7vw;
		line-height: 8vw;
	}
	#Right-B{
		width:100%;
		float:left;
	}
	#Left-B{
		width:100%;
		height:100%;
		float:left;
		margin-top:6vh;
	}
	#IMG-Master{
		text-align:center;
		margin:0 auto;		
	}
	.master-png{
		height:68vw;
		margin-top:0vh;
		margin-right:0vh;
	}
	#BR1{	
		display:none;
	}
	#BR2{
		box-sizing: border-box;
		width: 44vw;
		height: 44vw;
		margin:-63vw auto 0 auto;
		border: 1.8vw solid rgba(255, 255, 255, 0.98);
		filter: blur(8vw);
		position: relative;
		z-index:0;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
	}	
	
	#B-Enroll{
		text-align:center;
		float:left;
		width:100%;
		height:40vw;
		margin-top:17vw;
	}
	.Enroll{
		margin-top:0px;
		margin-left:0vh;
		width:62vw;
		height:12vw;
		border-radius: 10% 10% 10% 10% / 20vw 20vw 20vw 20vw;  /*  горизонтальные / вертикальные  */
		font-size:4.5vw;
		position:relative;
		z-index:10;
		
	}
	#BT2{
		margin:6vh auto 0 auto;
		font-size:3vw;
		line-height: 3.6vw;
		width:80vw;
	}
	
	
	#B-Profession{
		min-height:0vh;
		width:100%;
		overflow:hidden;
		
		position:relative;
	}
	#B-About-Profession{
		width:100%;
		text-align:left;
		margin-top:0vh;
		height:16vw;
		overflow:hidden;
		position:relative;
		
	}
	.T-About-Profession{	
		float:left;
		font-size:10vw;
		line-height:22vw;
		margin-left:2vw;
		
	}


	#BT-Opportunities{
		width:100vw;
		min-height:0;
		overflow:hidden;
		margin-top:0;
		
		
	}
	#B-size2{
		height:15vw;
		width:100%;
		margin-top:0;
		float:left;
		
	}
	.This-Opportunity{
		height:14vw;
		width:100%;
		font-size:7.3vw;
		line-height:14vw;
		float:left;
		margin-left:2vw;
		
	}
	#Opportunities{
		width:90%;
		margin-top:0;
		float:left;
		padding:0vw;
		
	}
	

	.t1{
		width:100%;
		font-size:3.1vw;
		line-height:4vw;
		margin-top:0;
		float:left;
		
	}
	.t2, .t3, .t4, .t5, .t6{
		width:100%;
		font-size:3.1vw;
		line-height:4vw;
		float:left;
		margin-top:2vw;
	}
	.color2{  /* Block Opportunities */
		color: #786759;
		font-weight: 700;
		
	}
	
	
	#B-Points{
		width:2vw;
		height:65vw;
		float:right;
		margin-top:0;
		
	}
	.p1, .p2, .p3, .p4, .p5, .p6{
		background: #FFFFFF;
		border: 0.5vw solid #786759;
		box-shadow: 0px 0px 1.6vw #786759;
		border-radius:100%;
		width: 1.1vw;
		height: 1.1vw;
		position:absolute;
		z-index:1;
	}
	.p1{
		margin-top:1.8vw;
	}
	.p2{
		margin-top:10vw;
	}
	.p3{
		margin-top:23.8vw;
	}
	.p4{
		margin-top:37.8vw;
	}
	.p5{
		margin-top:45.9vw;
	}
	.p6{
		margin-top:59.8vw;
	}
	
	.Rectangle{
		background: #D9D9D9;
		width:0.5vw;
		height:60vw;
		position:relative;
		z-index:0;
		margin:2vw auto 0 auto;
		
	}
	
	#B-IMG-B-P{
		margin-top:-105vw;
		widows:100%;
		height:0;
	}
	
	#B-Blur2-1{
		width:50vw;
		height:200vw;
		filter: blur(11vw);
		margin-top:-150vw;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
	}
	#B-Blur2-2{
		height:70vw;
		width:15vw;	
		margin-top:-100vw;
		margin-left:18vw;
		filter: blur(6vw);
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
	}
	
	
	
	
	
	#B-Points{
		margin-left:3vw;
		float:left;		
		margin-top:0;
	}
	
	
	.IMG-B-P{
		height:110vw;
		width:85vw;
		object-fit:cover;	
		margin-right:-15vw;

	}
	
	
	
	
	#Block3{
		
	}
	
	
	
	
	
	
	
	
	
}



	
/*  Catalog */



	.T-Course-Catalog{
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 900;
		line-height: 77px;
		color:#1A1A1A;
		font-size:60px;
	}
	#B-Course1{
		margin:0 auto;
		width:680px;
		height:430px;
		background-color:#1A1A1A;
		border-radius: 36px;
	}
	/*  IMG1.1 
		.red_pres_img{
			margin-top:70px;
			margin-left:560px;
			
			width:65px;
			height:65x;
			position:absolute;
		}
	/**/
	
	
/**/
