@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body{
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
}
	
	#container{
	}
	
	
/*  Master Permanent Makeup  */
	#B-Master-Permanent-Makeup{
		background:linear-gradient(
		
		#000000 15.15%,
		#FFFFFF 22.52%,
		rgba(0, 0, 0, 0) 44.32%,
		#FFFFFF 66.63%,
		#FFFFFF 82.42%,
		#000000 100%,
		);
		
		background: radial-gradient(63.16% 110.39% at 25.49% 50.07%, #3D2E20 0%, #14110E 65.59%);
		
		width:100%;
	}

	#Navigation{
		width:755px;
		height:40x;
		margin: 40px auto 0 auto;
		text-align:center;
		font-weight:200;
	}
	.nav a{
		margin:0 22px;
		text-decoration:none;
		font-style: normal;
		font-weight: 200;
		font-size: 17px;
		line-height: 24px;
		color:white;
	}

	
	#B-Size-Contents{
		overflow:hidden;
		margin:0 auto;
		width: 1440px;
		max-width:100%;
	}
	
	
	

	#Left-B{
		float:left;
		width:48%;
		height:640px;
	}
	#Right-B{
		float:right;
		width:49%;
	}

	#BT-Master-Permanent-Makeup{
		width: 566px;
		height: 324px;
		margin-top: 100px;
		overflow:hidden;
	}
	
	
	.T-Master-Permanent-Makeup{
		font-style: normal;
		font-weight: 800;
		font-size: 54px;
		line-height: 59px;
		letter-spacing: 0.01em;
		color:white;
	}
	#IMG-Master{
		text-align:right;
	}
	.master-png{
		margin-bottom:-5px;
	}
	#BR1{
		float:right;
		box-sizing: border-box;
		width: 471px;
		height: 471px;
		margin-right:43px;
		margin-top:-620px;
		border: 15px solid rgba(255, 255, 255, 0.98);
		filter: blur(61.5px);
	}
	
	
	@media(max-width:1200px){
		.T-Master-Permanent-Makeup{font-size:48px;}
		.master-png{width:480px;}
		#BR1{
			width: 440px;
			height: 440px;
			margin-top:-570px;
			margin-right:38px;
		}
	}
	
	.mobile{
		display:none;
	}
	
	
@media(max-width:1000px){
	#Navigation{display:none;}
	#B-Master-Permanent-Makeup{
		width:600px;
		min-width:100%;
	}
	#B-Size-Contents{
		
	}
	
	#BT-Master-Permanent-Makeup{
		margin:200px auto 0 auto;
		width:90%;
	}
	.T-Master-Permanent-Makeup{
		text-align:center;
		margin:0 auto;
		width:80%;
	}
	#Right-B{
		width:100%;
	}
	#Left-B{
		width:100%;
	}
	#IMG-Master{
		text-align:center;
	}
	.master-png{
		height:100%;
	}

	#BR1{	
		display:none;
	}
	#BR2{
		box-sizing: border-box;
		width: 471px;
		height: 471px;
		margin:0 auto;
		
		margin-top:-620px;
		border: 15px solid rgba(255, 255, 255, 0.98);
		filter: blur(61.5px);
	}
	
	
	#B-Button{
		float:right;
		width:90px;
		margin: 60px 60px 0 0;
	}
	#Button1{
		border-radius: 5px;
		height:8px;
		background-color:white;
	}
	#Button2{
		border-radius: 5px;
		height:8px;
		width:60%;
		background-color:white;
		margin-top:6px;
	}
	#Button3{
		border-radius: 5px;
		height:8px;
		margin-top:6px;
		background-color:white;
	}


}



/*  Catalog  */
	#BT-Course-Catalog{
		margin:0 auto;
		text-align:center;
	}

	.T-Course-Catalog{
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 900;
		line-height: 77px;
		color:#1A1A1A;
		font-size:60px;
	}
	#B-Course1{
		margin:0 auto;
		width:680px;
		height:430px;
		background-color:#1A1A1A;
		border-radius: 36px;
	}
	/*  IMG1.1 
		.red_pres_img{
			margin-top:70px;
			margin-left:560px;
			
			width:65px;
			height:65x;
			position:absolute;
		}
	/**/
	
	
/**/

